<a href='/' class='button is-danger is-small' style='margin-bottom: 2em'>
    Back
</a>
<form action='/create' method='POST'>
    <div class='field'>
        <div class='control'>
            <input class='input' type='text' placeholder='name' name='name'>
        </div>
    </div>
    <div class='field'>
        <div class='control'>
        <input class='input' type='text' placeholder='quote' name='quote'>
        </div>
    </div>
    <button type='submit' class='button is-success is-small'>Submit</button>
</form>