<a href='/' class='button is-danger is-small' style='margin-bottom: 2em'>
    Back
</a>
<form action='/create' method='POST' style="max-width: 500px">
    <div class='field'>
        <label class="label">Age</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Age' name='Age'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Conference</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Conference' name='Conference'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Date</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Date' name='Date'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Draft Year</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Draft Year' name='Draft Year'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Height</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Height' name='Height'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Player</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Player' name='Player'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Position</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Position' name='Position'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Season</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Season' name='Season'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Season short</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Season short' name='Season short'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Seasons in league</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Seasons in league' name='Seasons in league'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Team</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Team' name='Team'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Weight</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Weight' name='Weight'>
        </div>
    </div>
    <div class='field'>
        <label class="label">Real_value</label>
        <div class='control'>
            <input class='input' type='text' placeholder='Real_value' name='Real_value'>
        </div>
    </div>
    <button type='submit' class='button is-success is-small'>Submit</button>
</form>