<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
</head>

<body>
    <form action=<%= '/update/' + quote._id + '?_method=PUT' %> method="POST">
        <input type="text" placeholder="name" name="name" value='<%= quote.name %>'>
        <input type="text" placeholder="quote" name="quote" value='<%= quote.quote %>'>
        <button type="submit">Submit</button>
    </form>
</body>

</html>